body {
    font-size: 16px;
  }


h1 {
  font-size: 65px;
  color: orange ;
  font-family: sans-serif;
  } 
p {
    font-weight: 600;
    font-size: 3em;
    font-style: italic;
  }
ul {
    font-weight: bold;
    line-height: 60px;
    text-decoration: underline;
    color: white;
    background-color: crimson;
   }
   #cor1 {
    background-color: hotpink;
}

#cor2 {
    background-color: indigo;
}


#cor3 {
    background-color: blue;
}  