
h1 {
    text-align: center;
  }
  .first {
    background-color: rgb(235, 200, 84);
    font-size: 20px;
    height: 50px;
    width: 200px;
    display: block;
    text-align: center;
    margin: auto;
  }
  .second {
    background-color: rgb(219, 219, 219);
    font-size: 20px;
    height: 50px;
    text-align: center;
    width: 300px;
    display: inline-block
  }

  .third {
    background-color: rgb(170, 142, 106);
    font-size: 20px;
    height: 50px;
    text-align: center;
    width: 300px;
    display: inline-block;
  }
  h3{
      text-align: center;
  }
.linha1{
    display: inline-block;
    text-align: center;
}
.linha2{
        display: inline-block;
}
.linha3{
      display: inline-block;
    
}
.linha4 {
    display: inline-block;
    text-align: center;
}
.linha5 {
    display: inline-block;
   
}
.linha6 {
    display: inline-block;
}
.text0 {
    text-align: center;
}
.text1 {
    text-align: center;
}
.texto2 {
    text-align: center;

}
.texto3 {
   text-align: center
}